@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before
{
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

div {
    box-sizing: border-box;
}

:root {
    --foreground: #23262E;
    --background: #d3d3d3;
    --animation-timing: 200ms ease-in-out;
}

body {
  background-color: var(--foreground) !important; 
  color: var(--background); 
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.typewriter {
  overflow:hidden;
  border-right: .15rem solid var(--background);
  white-space: nowrap;
  letter-spacing: .15rem;
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--background); }
}

.navbar {
  height:3rem;
}

.menu-icon {
  display: inline-block;
  position: relative;
  align-self: center;
}

.menu-items {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--background) !important;
}

.menu-items::after{
  content:'';
  position:absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--background);
  transform-origin: center;
  transition: transform var(--animation-timing);
  border-radius: 9999px;

}

.menu-items:hover::after{
  transform: scaleX(1);
  transform-origin: center;
}

.menu-items-sm {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.menu-items-sm::after{
  content:'';
  position:absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--foreground);
  transform-origin: center;
  transition: transform var(--animation-timing);
  border-radius: 9999px;

}

.menu-items-sm::after{
  content:'';
  position:absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--foreground);
  transform-origin: center;
  transition: transform var(--animation-timing);
  border-radius: 9999px;

}

.menu-items-sm:hover::after{
  transform: scaleX(1);
  transform-origin: center;
}

.aboutMeContainer {
  box-sizing: border-box;
  border: 2px solid gray;
  background-color:#23262E;
  border-radius: 8px;
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.introMessage {
  color: white;
  font-size: 16px;
  padding-left: 1rem;
}

#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  
}

.aboutMe {
  width: 100%;
  text-align: left;
  font-size: 18px;
  margin-top: 2rem;
}

h4 {
  text-align:left;
  text-decoration: underline ;
  text-underline-offset: 5px;
  text-decoration-color: gray;
  padding: 0;
  height: 0.5rem;
  margin-top: 0;
}

#name {
  padding-right: 2rem;
}

.description {
  width: 100%;
  text-align: center;
}




@media screen and (width < 590px){

  #intro{
    width:100%;
    padding: 0;
  }

  .menu-items{
    margin-left: 5px;
    margin-right: 5px;
  }

  #name-img{
    flex-direction: column;
    justify-content: center;
    padding-bottom:1rem;
  }

  #name {
    padding-bottom: 1rem;
  }

  #homeDesc {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .description {
    flex-wrap: wrap;
    text-align: center;
  }

}

@media screen and (width < 820px) and (width > 740px) {
  .navbar-box {
    width: 100% !important;
  }
}


@media screen and (width <= 740px) {
  .navbar-box {
    width: 75% !important;
  }
}

@media screen and (width <= 550px) {
  .navbar-box {
    width: 100% !important;
  }
}

@media screen and (width <= 430px) {

  .menu-icon{
    display: none;
  }

  #menu-div{
    display: inline;
  }

  .pet-image-div {
    display: block !important;
  }
}

@media screen and (width <=515px) {
  #aboutMeContentDiv{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}